{% extends 'Post/base.html' %}
{% load static %}
{% load simple_tags %}
{% block link %}
    <link rel="stylesheet" href="{% static 'Post/css/list.css' %}"/>
{% endblock %}

{% block main %}
    <div class="container-wrap blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="article-list" >
                        {% for post in post_list %}
                            <article id="post-77"
                                     class="clearfix post post-77 blog type-blog status-publish has-post-thumbnail hentry">
                                <h2 class="entry-title">
                                    <a href="{% url 'Post:detail' post.id %}" rel="bookmark">
                                        {{ post.title }}
                                    </a>
                                </h2>
                                <div class="entry-meta"><i class="glyphicon glyphicon-time"></i>
                                    <time class="meta-date" itemprop="datePublished"
                                          datetime="{{ post.modified_time }}"> {{ post.modified_time }}</time>
                                    <i class="glyphicon glyphicon-tags"></i>&nbsp;
                                    <span class="post-cate">{{ post.category.name }}</span>
                                </div>
                                <div class="entry-content">
                                    <p>{{ post.body | truncatewords:"1" | safe }}&hellip;</p>
                                </div>
                                <div class="etry-more">
                                    <a href="{% url 'Post:detail' post.id %}" rel="bookmark">Read More</a>
                                </div>
                            </article>

                        {% endfor %}
                    </div>
                    <div class="pagination clearfix">
                        <ul class="pager">
                            {% if post_list.has_previous %}
                                <li class="previous"><a href="?page={{ post_list.previous_page_number }}"><span
                                        aria-hidden="true">&larr;</span> Newer</a></li>
                            {% else %}
                                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span>
                                    Newer</a></li>
                            {% endif %}
                            {% if post_list.has_next %}
                                <li class="next"><a href="?page={{ post_list.next_page_number }}">Older <span
                                        aria-hidden="true">&rarr;</span></a></li>
                            {% else %}
                                <li class="next disabled"><a href="#">Older <span aria-hidden="true">&rarr;</span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                            codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
                            width="100%" height="auto" id="honehoneclock" align="middle">
                        <param name="allowScriptAccess" value="always">
                        <param name="movie"
                               value="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.swf">
                        <param name="quality" value="high">
                        <param name="bgcolor" value="#ffffff">
                        <param name="wmode" value="transparent">
                        <param name="AutoStart" VALUE="1">
                        <embed wmode="transparent"
                               src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.swf"
                               quality="high" bgcolor="#ffffff" width="100%" height="auto" name="honehoneclock"
                               align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"
                               pluginspage="http://www.macromedia.com/go/getflashplayer"/>
                    </object>
                    <div class="blog-sidebar">
                        <div class="widget-area">
                            <h3>Category</h3>
                            {% get_categories as catelist %}
                            <ul>
                                {% for cate in catelist %}
                                    <li><a href="{% url 'Post:category' cate.id %}">{{ cate.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

