{% extends 'Post/base.html' %}
{% load static %}
{% load simple_tags %}
{% block link %}
    <link rel="stylesheet" href="{% static 'Post/css/single.css' %}" data-minify="1"/>
{% endblock %}

{% block main %}
    <header class="page-header">
        <div class="container">
            <nav class="breadcrumps"><a href="{% url 'Post:list' %}">Home</a> &raquo; Blog</nav>
        </div>
    </header>
        <div class="container-wrap blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blog-sidebar">
                        <div class="widget-area">
                            <h3 class="widget-title">目录</h3>
                            {{ toc | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <article id="post-77"
                             class="clearfix post post-77 blog type-blog status-publish has-post-thumbnail hentry">

                        <h2 class="entry-title">
                            <a href="https://templatemag.com/blog/real-estate-website-templates/" rel="bookmark">
                                {{ post.title }}
                            </a>
                        </h2>
                        <div class="entry-meta">
                            <i class="glyphicon glyphicon-time"></i>
                            <time class="meta-date" itemprop="datePublished"
                                  datetime="{{ post.modified_time }}"> {{ post.modified_time }}</time>
                            &nbsp<i class="glyphicon glyphicon-tags"></i>&nbsp;
                            <span class="post-cate">{{ post.category.name }}</span>
                        </div>
                        <div class="entry-content" id="entry-content"><p>{{ post.body | safe }}&hellip;</p></div>
                        <div class="hide-article-box text-center" id="hide-article-box">
                            <a class="btn" id="btn-readmore" onclick="btnReadMore()">阅读更多</a>
                        </div>
                    </article>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    window.onload = function () {
        var readMore = document.getElementById('btn-readmore');
        var hideArticleBox = document.getElementById('hide-article-box');
        var content = document.getElementById('entry-content');
        readMore.onclick = function () {
            content.style.height = 'auto';
            hideArticleBox.style.display = 'none';
        }
    }

</script>
{% endblock %}
