{% extends 'Post/base.html' %}
{% load static %}
{% load simple_tags %}
{% block link %}
    <link rel="stylesheet" href="{% static 'Post/css/single.css' %}" data-minify="1"/>
{% endblock %}

{% block main %}
        <div class="container-wrap blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blog-sidebar">
                        <div class="widget-area">
                            <h3 class="widget-title">目录</h3>
                            {{ toc | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <article id="post-77"
                             class="clearfix post post-77 blog type-blog status-publish has-post-thumbnail hentry">

                        <h2 class="entry-title">
                            <a href="https://templatemag.com/blog/real-estate-website-templates/" rel="bookmark">
                                {{ post.title }}
                            </a>
                        </h2>
                        <div class="entry-meta">
                            <i class="glyphicon glyphicon-time"></i>
                            <time class="meta-date" itemprop="datePublished"
                                  datetime="{{ post.modified_time }}"> {{ post.modified_time }}</time>
                            &nbsp<i class="glyphicon glyphicon-tags"></i>&nbsp;
                            <span class="post-cate">{{ post.category.name }}</span>
                        </div>
                        <div class="entry-content" id="entry-content"><p>{{ post.body | safe }}&hellip;</p></div>
                    </article>
{#                    <article id="comment" style="display: none">#}
{#                        这里是评论#}
{#                    </article>#}
{#                    <button id="show-comment" onclick="show_comment()">#}
{#                        查看评论#}
{#                    </button>#}
                </div>
            </div>
        </div>
    </div>
    <script>
        function show_comment() {
            var btn_text = document.getElementById('show-comment');
            if(btn_text.innerText == '查看评论'){
                document.getElementById('post-77').style.display = 'none';
                document.getElementById('comment').removeAttribute('style');
                btn_text.innerText = '查看文章'
            }else{
                document.getElementById('comment').style.display = 'none';
                document.getElementById('post-77').removeAttribute('style');
                btn_text.innerText = '查看评论'
            }

        }
    </script>
{% endblock %}
